html {
    background-color: #FFDEC0;
}

body {
    vertical-align: middle;
    justify-content: center;
}

li {
    list-style: none;
    text-decoration: none;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.fix_width {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}


/* header css */

header {
    width: 100%;
    height: 100px;
    position: relative;
}

.nav_bar {
    position: absolute;
    top: 20%;
    left: 2%;
    height: 60%;
    width: 96%;
    background-color: #DBA574;
    border-radius: 20px;
}

.nav_list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    align-items: center;
}

.nav_list_item {
    position: relative;
    width: 20%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo {
    position: absolute;
    top: -42px;
    width: 300px;
    height: 66px;
}

.tags {
    color: white;
    font-size: 24px;
    text-decoration: none;
}


/* pg_content contains of left and right column */

.pg_content {
    position: relative;
    height: 2000px;
    width: 96%;
}


/* aside(left-column items) */

.left-column {
    position: absolute;
    left: 0;
    top: 2%;
    width: 85%;
    height: 96%;
    position: absolute;
    background-color: #DBA574;
    border-radius: 20px;
    /* for decorations */
    padding-bottom: 40px;
}


/* main(center content items) */

.main {
    position: absolute;
    z-index: 99;
    border-radius: 10px;
    background-color: white;
    height: 96%;
    width: 70%;
    left: 15%;
    top: 40px;
}


/* aside(right-column items) */

.right-column {
    width: 85%;
    height: 96%;
    background-color: #DBA574;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 20px;
    padding-top: 40px;
}


/* login and main article */

.left-col {
    width: 17.5%;
    vertical-align: middle;
}


/* footer section css */

footer {
    width: 100%;
    height: 100px;
    position: relative;
    padding: 0;
}

.footer-nav-item .tags {
    font-size: 18px;
}