        @font-face {
            font-family: 'WebSymbols-Regular';
            src: url('http://www.fontsaddict.com/fontface/websymbols-regular.otf');
        }
        
        * {
            font-family: 'Roboto';
        }
        /* frame RWD settings */
        
        #main_pgcontent {
            height: 1450px;
            margin-bottom: 10px;
        }
        
        .title {
            font-size: 24px;
            margin-left: 32px;
            margin-top: 26px;
        }
        
        .panel {
            border: 1px solid #A2A2A2;
            width: 96%;
            height: 454px;
            margin: auto;
            margin-top: 13px;
        }
        
        .panel ul {
            margin-top: 0%;
        }
        
        .panel a {
            text-decoration: none;
        }
        
        .panel li {
            position: relative;
            padding-top: 22px;
            font-size: 18px;
            width: 100%;
            height: 42px;
            border-bottom: 1px solid #A2A2A2;
        }
        
        .panel li:hover {
            background-color: #d3d3d3;
        }
        
        span {
            margin-left: 12px;
        }
        
        .line {
            width: auto;
            border: 0.01px solid #A2A2A2;
        }
        
        .time {
            color: #929292;
        }
        
        .Imformation_content {
            color: black;
        }
        
        .panel ul {
            padding-left: 0px;
        }
        
        .arc {
            width: 155px;
            height: 34px;
            border-radius: 20px;
            text-align: center;
            padding: 6px 25px;
            color: #fff;
        }
        
        .blue {
            background: #428FD6;
        }
        
        .red {
            background: #E96969;
        }
        
        #move {
            margin-left: 28px;
        }
        
        .panel li:hover .more {
            transform: translateX(20px);
        }
        
        .more {
            position: absolute;
            right: 4%;
            transition: 0.3s;
        }
        
        span img {
            padding-top: 3px;
            padding-left: 5px;
        }
        
        @media screen and (max-width: 767px) {
            .panel {
                height: 615px;
                overflow: scroll;
            }
            .panel li {
                padding-left: 3%;
                padding-top: 4%;
                height: 65px;
                position: relative;
            }
            .Imformation_content {
                position: absolute;
                bottom: 6%;
                left: 3%;
            }
            .more {
                padding-right: 4%;
            }
        }
        
        @media screen and (max-width: 1279px) {
            #main_pgcontent {
                height: 1800px;
            }
        }
        
        @media screen and (max-width: 767px) {
            #main_pgcontent {
                height: 1880px;
            }
        }
        /*part2*/
        
        .body_part2 {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: auto;
            margin-top: 28px;
            width: 96%;
        }
        
        .block {
            width: 22%;
            height: 100%;
            border: 1px solid #A2A2A2;
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            /* overflow: hidden; */
        }
        
        .step_text img {
            transition: 1s;
        }
        
        .block a {
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: black;
        }
        
        .block:hover {
            background-color: #DBA574;
            border: #fff;
        }
        
        .block:hover .step_text img {
            transform: translateX(50px) scale(1.3);
        }
        
        .block:hover .step_text {
            color: white;
        }
        
        .block:hover .step_icon {
            transform: scale(1.3) rotate(25deg) translateY(-30px);
            color: #F1BE90;
        }
        
        .block:hover .step_content {
            border-top: 1px solid#fff;
        }
        
        .step_icon {
            width: 100%;
        }
        
        .step_icon,
        i {
            height: 140px;
            width: 100%;
            font-size: 100px;
            color: #F1BE90;
            margin: 0 auto;
            padding: 0;
            /* for hover animation */
            transition: .3s;
        }
        
        svg {
            /* margin-left: 50px; */
            margin-top: 20px;
        }
        
        .step_content {
            padding-top: 15px;
            width: 100%;
            height: 50px;
            margin: auto;
            border-top: 1px solid #A2A2A2;
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
        }
        /*panel1*/
        
        @media screen and (max-width: 1279px) {
            span {
                margin-left: 10px;
            }
            .arc {
                padding: 6px 15px;
            }
        }
        /*body part2*/
        
        .step_text {
            width: 137px;
            margin: 0;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
        }
        
        .step_text img {
            width: 17px;
            height: 15px;
            /* margin-left: 1%; */
        }
        
        @media screen and (max-width: 1279px) {
            .block {
                width: 48%;
                margin: 1.5% 0;
            }
        }
        /*body part3*/
        
        .about_panel {
            margin: auto;
            margin-top: 29px;
            width: 96%;
            height: 580px;
            border: 1px solid #A2A2A2;
        }
        
        .about_text {
            font-size: 24px;
            margin-left: 15px;
            margin-top: 14px;
        }
        
        .about_content {
            width: 100%;
            height: 715px;
            border-top: 1px solid #A2A2A2;
            margin-top: 15px;
        }
        
        .content_text {
            font-size: 18px;
            width: 85%;
            margin: auto;
            margin-top: 28px;
            line-height: 150%;
        }
        
        .special {
            display: flex;
            line-height: 40px;
            width: 85%;
            margin: auto;
        }
        
        .special_text {
            margin-left: 0;
            font-size: 18px;
            font-weight: bold;
        }
        
        @media screen and (max-width: 1279px) {
            .about_panel {
                height: 630px;
            }
            #index_footer {
                position: absolute;
                top: 10%;
            }
            @media screen and (max-width: 767px) {
                .about_panel {
                    height: 640px;
                }
                .special {
                    line-height: 30px;
                }
                #index_footer {
                    position: absolute;
                    top: 6%;
                }
            }
        }